.search-panel-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 6px;

    .search-type-toggle {
        flex-shrink: 0;
        cursor: pointer;
        padding-right: 6px;
    }

    .search-panel-content {
        .search,
        .replace {
            display: flex;
            align-items: center;

            .input-container {
                position: relative;

                input {
                    outline: none;
                    padding: 0.125rem 0.375rem;
                    padding-right: 56px;
                    height: 26px;
                    border: 1px solid #ced4da;
                    border-radius: 0.125rem;
                }

                .icon-group {
                    position: absolute;
                    top: 3px;
                    right: 6px;
                    display: flex;
                    column-gap: 4px;

                    > span {
                        cursor: pointer;
                        padding: 0 4px;
                        color: #666;

                        .iconfont {
                            color: inherit;
                        }
                    }
                }
            }

            > span {
                cursor: pointer;
                margin-left: 8px;
                display: inline-block;
                height: fit-content;
            }
        }
        
        .replace {
            margin-top: 6px;
        }
        // 按钮激活样式
        span.active{
            color: var(--theme-color);
        }
    }
}
